################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/DotnetELK/.vs/DotnetELK/v17/.suo
